<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/front.css">
    
</head>
<body>
    <div class="centerchild">
        <img src="../static/image/logoblue.png" alt="Logo">

        <p>Your personal PDF assistant at your fingertips.</p>
        <p>"ASK MY PDF transforms static documents into smart conversations using AI-powered search, extraction, and response."</p>
       
        <a href="login.html" class="button button2">Get Started</a>

    </div>
</body>
</html>